<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Sevens</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="assets/css/style.css">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="assets/vendor/vue.js"></script>
  <script type="text/javascript" src="assets/js/card.js"></script>
  <script type="text/javascript" src="assets/js/game.js"></script>


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="vm__sevens">
  <div id="container">
    <div id="board">
      <div id="card-board">
        <div
          v-for="type in types"
          :key="type"
          class="card-line">
          <card
            v-for="weight in weights"
            :key="weight"
            :type="type"
            :weight="weight"
            :as-down="asDown"
            v-show="isShow(type, weight)"></card>
        </div>
      </div>
      <div id="players">
        <div id="player--1" class="player">
          <div class="card card--back"></div>
        </div>
        <div id="player--2" class="player">
          <div class="card card--back"></div>
        </div>
        <div id="player--3" class="player">
          <div class="card card--back"></div>
        </div>
        <div id="player--4" class="player">
          <div class="card card--back"></div>
        </div>
      </div>
      <div id="player-deck">
        <div id="player-deck__scroller">
          <div id="player-deck__scroller__inner">
            <card
              v-for="(card, index) in playerDeck[0]"
              :key="index"
              :type="card.type"
              :weight="card.weight"></card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>


