body {
  margin: 0;
  font-family: Arial;
}

/* CONTAINER */
#container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #333;
}

#board {
  background: #0f9d58;
  margin: 0 auto;
  height: 480px;
  width: 320px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#card-board {
  margin: 0 auto;
  width: 100%;
  position: relative;
  height: 300px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#players {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#players__inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-line {
  float: left;
  width: 25%;
}

/* CARDS */
.card {
  width: 63.75px;
  height: 95px;
  background-size: contain;
  border: 1px solid #eee;
  border-radius: 4px;
}

.card--clubs--2 {
  background-image: url("../images/clubs/2.png");
}
.card--clubs--3 {
  background-image: url("../images/clubs/3.png");
}
.card--clubs--4 {
  background-image: url("../images/clubs/4.png");
}
.card--clubs--5 {
  background-image: url("../images/clubs/5.png");
}
.card--clubs--6 {
  background-image: url("../images/clubs/6.png");
}
.card--clubs--7 {
  background-image: url("../images/clubs/7.png");
}
.card--clubs--8 {
  background-image: url("../images/clubs/8.png");
}
.card--clubs--9 {
  background-image: url("../images/clubs/9.png");
}
.card--clubs--10 {
  background-image: url("../images/clubs/10.png");
}
.card--clubs--j {
  background-image: url("../images/clubs/j.png");
}
.card--clubs--q {
  background-image: url("../images/clubs/q.png");
}
.card--clubs--k {
  background-image: url("../images/clubs/k.png");
}
.card--clubs--a {
  background-image: url("../images/clubs/a.png");
}
.card--diamonds--2 {
  background-image: url("../images/diamonds/2.png");
}
.card--diamonds--3 {
  background-image: url("../images/diamonds/3.png");
}
.card--diamonds--4 {
  background-image: url("../images/diamonds/4.png");
}
.card--diamonds--5 {
  background-image: url("../images/diamonds/5.png");
}
.card--diamonds--6 {
  background-image: url("../images/diamonds/6.png");
}
.card--diamonds--7 {
  background-image: url("../images/diamonds/7.png");
}
.card--diamonds--8 {
  background-image: url("../images/diamonds/8.png");
}
.card--diamonds--9 {
  background-image: url("../images/diamonds/9.png");
}
.card--diamonds--10 {
  background-image: url("../images/diamonds/10.png");
}
.card--diamonds--j {
  background-image: url("../images/diamonds/j.png");
}
.card--diamonds--q {
  background-image: url("../images/diamonds/q.png");
}
.card--diamonds--k {
  background-image: url("../images/diamonds/k.png");
}
.card--diamonds--a {
  background-image: url("../images/diamonds/a.png");
}
.card--hearts--2 {
  background-image: url("../images/hearts/2.png");
}
.card--hearts--3 {
  background-image: url("../images/hearts/3.png");
}
.card--hearts--4 {
  background-image: url("../images/hearts/4.png");
}
.card--hearts--5 {
  background-image: url("../images/hearts/5.png");
}
.card--hearts--6 {
  background-image: url("../images/hearts/6.png");
}
.card--hearts--7 {
  background-image: url("../images/hearts/7.png");
}
.card--hearts--8 {
  background-image: url("../images/hearts/8.png");
}
.card--hearts--9 {
  background-image: url("../images/hearts/9.png");
}
.card--hearts--10 {
  background-image: url("../images/hearts/10.png");
}
.card--hearts--j {
  background-image: url("../images/hearts/j.png");
}
.card--hearts--q {
  background-image: url("../images/hearts/q.png");
}
.card--hearts--k {
  background-image: url("../images/hearts/k.png");
}
.card--hearts--a {
  background-image: url("../images/hearts/a.png");
}
.card--spades--2 {
  background-image: url("../images/spades/2.png");
}
.card--spades--3 {
  background-image: url("../images/spades/3.png");
}
.card--spades--4 {
  background-image: url("../images/spades/4.png");
}
.card--spades--5 {
  background-image: url("../images/spades/5.png");
}
.card--spades--6 {
  background-image: url("../images/spades/6.png");
}
.card--spades--7 {
  background-image: url("../images/spades/7.png");
}
.card--spades--8 {
  background-image: url("../images/spades/8.png");
}
.card--spades--9 {
  background-image: url("../images/spades/9.png");
}
.card--spades--10 {
  background-image: url("../images/spades/10.png");
}
.card--spades--j {
  background-image: url("../images/spades/j.png");
}
.card--spades--q {
  background-image: url("../images/spades/q.png");
}
.card--spades--k {
  background-image: url("../images/spades/k.png");
}
.card--spades--a {
  background-image: url("../images/spades/a.png");
}
.card--back {
  background-image: url("../images/back/pomegranate.png");
}


/* LINE CARD*/
.card-line .card {
  margin: 0 auto;
}

.card-line .card--down {
  margin-bottom: -80px;
}

.card-line .card--up {
  margin-top: -80px;
}


/* DECK CARD*/
#player-deck  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  overflow: hidden;
}

#player-deck__scroller {
  height: 100%;
  background: #ccc;
  float: left;
  overflow-y: scroll;
  position: absolute;
  top: 0;
}

#player-deck__scroller__inner {
  height: 1140px;
  width: 74px;
  padding: 8px;
  box-sizing: border-box;
}

#player-deck .card {
  transform: scale(.75);
  transform-origin: 0 0;
  margin-bottom: -10px;
}

/* PLAYER CARD */
.player .card {
  transform: scale(.5);
}

#player--1 .card {
  transform-origin: 0 0;
}

#player--2 .card {
  transform-origin: 100% 0;
}

#player--3 .card {
  transform-origin: 0 100%;
}

#player--4 .card {
  transform-origin: 100% 100%;
}

/* PLAYERS */
.player {
  position: absolute;
}

#player--1 {
  top: 8px;
  left: 8px;
}

#player--2 {
  top: 8px;
  right: 8px;
}

#player--3 {
  bottom: 8px;
  left: 8px;
}

#player--4 {
  bottom: 8px;
  right: 8px;
}

/*  BUTTON */
.button {
  background: #fff;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}


/* DECK CONTROLL*/
#deck-controll {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 26px;
}


/* DECK OPEN */
.board--with-deck #card-board {
  transform: translateY(-50%) scale(.75);
  left: 38px;
}

.board--with-deck #players {
  padding-left: 74px;
}

.board--with-deck #deck-controll  {
  right: 0;
  width: 246px;

}

